<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="lop" class="col-sm-2 control-label">Lop</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="lop" placeholder="Lop">
            </div>
        </div>

        <div class="form-group">
            <label for="toan" class="col-sm-2 control-label">Toan</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="toan" placeholder="Toan">
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
    </form>

</body>

</html>